In [46]:
import pandas as pd
import numpy as np

df = pd.read_csv("swiggy.csv")
print(df)

#df.head() 
#print(df) --> To show 1st five rows

#df.tail() 
#print(df) --> To show last 5 rows

#df['Price'] = df['Price'].info() 
#print(df) #--> info about the 'Price' column dataset

#df['Price'] = df['Price'].mean() 
#print(df) --> to calculate mean of the dataset

#print(df.info()) --> To show information about dataset

#print(df.shape) --> (8680, 10) --> To show dimensions of the dataset

#print(df.isnull().sum()) --> To show missing values

#print(df.describe()) --> To show statistical view of the dataset

#df.dropna()
#print(df) --> To remve null values

#data = {'Area':[1,2,3,4],'City':['Bangalore','Bangalore','Bangalore','Bangalore',],'Restaurant':['Tandoor Hut','Kim Lee','Nh8','Tunday Kababi']}
#df = pd.DataFrame(data) 
#print(df) --> To View the dataframe

          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings  \
0     300.0          4.4            100
1     300.0          4.1            100
2     650.0          4.4            100
3     250.0          3.9            500
4     350.0          4.0             50
...     ...          ...            ...
8675  500.0          2.9             80
8676  200.0          2.9             80
8677  150.0          2.9             80
8678  150.0          2.9             80
8679  250.0          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]
<class 'pandas.core.series.Series'>
RangeIndex: 8680 entries, 0 to 8679
Series name: Price
Non-Null Count  Dtype
--------------  -----
8680 non-null   float64
dtypes: float64(1)
memory usage: 67.9 KB
          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

     Price  Avg ratings  Total ratings  \
0     None          4.4            100
1     None          4.1            100
2     None          4.4            100
3     None          3.9            500
4     None          4.0             50
...    ...          ...            ...
8675  None          2.9             80
8676  None          2.9             80
8677  None          2.9             80
8678  None          2.9             80
8679  None          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]

In [33]:
print(df.isnull().sum())

ID               0
Area             0
City             0
Restaurant       0
Price            0
Avg ratings      0
Total ratings    0
Food type        0
Address          0
Delivery time    0
dtype: int64

In [34]:
print(df.describe())

                  ID        Price  Avg ratings  Total ratings  Delivery time
count    8680.000000  8680.000000  8680.000000    8680.000000    8680.000000
mean   244812.071429   348.444470     3.655104     156.634793      53.967051
std    158671.617188   230.940074     0.647629     391.448014      14.292335
min       211.000000     0.000000     2.000000      20.000000      20.000000
25%     72664.000000   200.000000     2.900000      50.000000      44.000000
50%    283442.000000   300.000000     3.900000      80.000000      53.000000
75%    393425.250000   400.000000     4.200000     100.000000      64.000000
max    466928.000000  2500.000000     5.000000   10000.000000     109.000000

In [35]:
df.dropna()
print(df)

          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings  \
0     300.0          4.4            100
1     300.0          4.1            100
2     650.0          4.4            100
3     250.0          3.9            500
4     350.0          4.0             50
...     ...          ...            ...
8675  500.0          2.9             80
8676  200.0          2.9             80
8677  150.0          2.9             80
8678  150.0          2.9             80
8679  250.0          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]

In [36]:
print(df)

          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings  \
0     300.0          4.4            100
1     300.0          4.1            100
2     650.0          4.4            100
3     250.0          3.9            500
4     350.0          4.0             50
...     ...          ...            ...
8675  500.0          2.9             80
8676  200.0          2.9             80
8677  150.0          2.9             80
8678  150.0          2.9             80
8679  250.0          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]

In [44]:
data = {'Area':[1,2,3,4],'City':['Bangalore','Bangalore','Bangalore','Bangalore',],'Restaurant':['Tandoor Hut','Kim Lee','Nh8','']}
df = pd.DataFrame(data)
print(df)

            0
0        Area
1        City
2  Restaurant

<bound method NDFrame.head of    Area       City     Restaurant
0     1  Bangalore    Tandoor Hut
1     2  Bangalore        Kim Lee
2     3  Bangalore            Nh8
3     4  Bangalore  Tunday Kababi>